@import "helpers";

@import "components/popupbox/popup.module";
@import "components/form/elements/text-area.module";
@import "components/steps/cover/video";

@font-face {
  font-family: 'Prelo';
  src: url('../public/fonts/Prelo-SemiBold.eot');
  src: url('../public/fonts/Prelo-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Prelo-SemiBold.woff2') format('woff2'),
  url('../public/fonts/Prelo-SemiBold.woff') format('woff'),
  url('../public/fonts/Prelo-SemiBold.ttf') format('truetype'),
  url('../public/fonts/Prelo-SemiBold.svg#Prelo-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prelo Slab';
  src: url('../public/fonts/PreloSlab-Bold.eot');
  src: url('../public/fonts/PreloSlab-Bold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/PreloSlab-Bold.woff2') format('woff2'),
  url('../public/fonts/PreloSlab-Bold.woff') format('woff'),
  url('../public/fonts/PreloSlab-Bold.ttf') format('truetype'),
  url('../public/fonts/PreloSlab-Bold.svg#PreloSlab-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prelo Book';
  src: url('../public/fonts/Prelo-Book.eot');
  src: url('../public/fonts/Prelo-Book.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Prelo-Book.woff2') format('woff2'),
  url('../public/fonts/Prelo-Book.woff') format('woff'),
  url('../public/fonts/Prelo-Book.ttf') format('truetype'),
  url('../public/fonts/Prelo-Book.svg#Prelo-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  --primaryMain: #58B65A;
  --primaryLight: #e5c183;
  --primaryDark: #319233;
  --secondaryMain: #f56000;
  --errorMain: #BF4B31;
}

body {
  text-align: center;
  font-family: 'Prelo';
  margin: 0;
}

h1 {
  font-family: 'Prelo Book';
  font-weight: 700;
  font-size: 2.5vw;
  margin: 16px 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

p, span, a, label {
  font-family: 'Prelo Book';
  font-size: .93vw;
  padding: 0;
  text-align: left;
}

.link {
  font-family: 'Prelo Book';
  color: inherit;
  text-decoration: underline;
  text-underline-position: under;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 769px) {
  h1 {
    font-size: 5vw;
  }

  p, span, a, label {
    font-size: 2.2vw;
    line-height: 2.8vw;
    margin: 1vh 0;
  }

}
