
@each $prop in (normal) {
  white-space-#{$prop}{
    white-space: $prop;;
  }
}

@for $index from 1 through 20 {

  .grid-column-span-#{$index} {
    grid-column: span $index;
  }
  .grid-row-span-#{$index} {
    grid-row: span $index;
  }
}


@each $prop in (none, flex, block, inline, inline-block, inline-flex, grid) {
  .display-#{$prop} {
    display: $prop !important
  }
}
@each $direction in (row, column) {
  .#{$direction} {
    flex-direction: $direction;
  }
}

@each $prop in (space-between, flex-start, center, flex-end, space-evenly, space-around) {
  .justify-#{$prop} {
    justify-content: $prop !important
  }
}

@each $prop in (start, center, bottom) {
  .items-#{$prop} {
    align-items: $prop !important
  }
  .text-#{$prop} {
    text-align: $prop;
  }
}

@each $prop in (capitalize, uppercase, lowercase, full-width) {
  .text-#{$prop} {
    text-transform: $prop !important
  }
}
